version: 2

updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: daily
    target-branch: main
    assignees: [cicdbot]
    open-pull-requests-limit: 20
    labels:
      - dependencies
      - npm
    commit-message:
      prefix: "chore(deps): "
      prefix-development: "chore(deps-dev): "

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    target-branch: main
    assignees: [cicdbot]
    commit-message:
      prefix: "ci: "
