# Please do not use this ignore file to define platform specific files.
#
# For these purposes create a global .gitignore file, which is a list of rules
# for ignoring files in every Git repository on your workstation.
#
# https://help.github.com/articles/ignoring-files/#create-a-global-gitignore

# Do not ignore .cursor directory.
!.cursor

# Ignore generated specification and plan files.
/.specs
/.plans

# Application and docker compose environment variables.
/.env

# Next.js output
/.next

# TypeScript build info.
/tsconfig.tsbuildinfo

# Speedy Web Compiler output.
/.swc

# Node modules
/node_modules

# SQLite database files
/data/*.db
/data/*.db-wal
/data/*.db-shm

# Code coverage stuff.
/coverage
/junit.xml
