name: CI

on:
    push:
      branches:
        # This is to make sure that there is no broken CI on
        # the main branch, and also for Sonarqube integration
        - main
    # We need it for better Sonarqube integration
    pull_request:
      types: [opened, synchronize, reopened]

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

    # The maximum number of minutes to let a workflow run
    # before GitHub automatically cancels it. Default: 360
    timeout-minutes: 30

    strategy:
      # When set to true, GitHub cancels
      # all in-progress jobs if any matrix job fails.
      fail-fast: false

    concurrency:
      # Cancel any currently running job or workflow in the same concurrency group.
      # The group is a unique identifier for the workflow run.
      #
      # Explanation:
      # - github.workflow: The name of the workflow (e.g. Workflow 1).
      # - github.event.pull_request.number: The number of the pull request (when the trigger event is a PR).
      # - github.ref: The branch name (when the trigger is not a PR but a push).
      group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: Setup nextjs cache
        uses: actions/cache@v4
        with:
          path: .next/cache
          # Generate a new cache whenever packages or source files change
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx') }}
          # If source files changed but packages didn't, rebuild from a prior cache
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-

      - name: Install Dependencies
        run: npm ci --include=dev

      - name: Run unit tests
        run: npm run test:coverage

      - name: Upload code coverage
        uses: codecov/codecov-action@v5
        with:
          directory: coverage
          report_type: coverage
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@v5
        with:
          report_type: test_results
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true

      - name: Success Reporting
        if: success()
        run: git log --format=fuller -5
